@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">F1 Driver Manager</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->

<body style="background-image: url('https://images6.alphacoders.com/121/1218784.jpg'); background-size: 100% 100%"></body>
