@model Driver

@{
	ViewData["Title"] = "Details";
}
<body style="background-image: url('https://images6.alphacoders.com/121/1218784.jpg'); background-size: 100% 100%">
<div style="background-color: white; padding: 5%">
<h2>Detalji F1 vozača</h2>

@if (Model != null)
{

	<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">Popis F1 vozača</a></li>
		<li class="breadcrumb-item active" aria-current="page">@Model.FullName</li>
	</ol>
</nav>

	<div>
		<h4>F1 vozač</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				ID
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Id)
			</dd>
			<dt>
				Ime i prezime
			</dt>
			<dd>
				@Html.DisplayFor(model => model.FullName)
			</dd>
			<dt>
				Zemlja koju zastupa
			</dt>
			<dd>
				@Model?.Country?.Name
			</dd>
			<dt>
				Tim
			</dt>
			<dd>
				<a asp-controller="Team" asp-action="Details" asp-route-id="@Model?.TeamId">@Model?.Team?.Name</a>
			</dd>
			<dt>
				Najdraža staza
			</dt>
			<dd>
				@Model?.RaceTrack?.Name
			</dd>
		</dl>

		<div>
			<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Uredi</a>
		</div>

	</div>

}
else
{
	<div class="alert alert-danger">
		Nije odabran ispravni ID vozača.
	</div>

}
</div>
</body>